.imagemContainer {

    width: 50%;
  
    .div {
      position: unset !important;
    }
  
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerEntrada {
    width: 45%;
    margin:  auto;
    padding: 2%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 5%;
}

.titulo {
    text-align: center;
    color:#379080; 
    margin-bottom: 7%;
}

.estilosubtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #0d0e0d;
}
  
.dadosEntrada {
    margin-top: 20px;
}

.nomes {
    margin-bottom: 8px;
    color: #000000;
}
  
.input {
    width: 100%;
    background-color: #ccc;
    padding: 3.5%;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sinalizadorSenhasDiferentes {
    color: red;
    display: none;
}

.estiloBotao {
    background-color: #379080;
    color: #fff;
    padding: 3.6%;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.estiloBotao:active{
    transform: translateY(2px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  @media (max-width: 768px) {
    .divisao {
      flex-direction: column;
    }
  
    .inputContainer,
    .inputContainer1,
    .inputContainer2 {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }