.main {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.fixedheader {
  background-color: #379080;
  color: #fff;
  padding: 1.5%;
  width: 100%;
  top: 0;
  position: fixed;
}

.containerPrincipal {
  width: 70%;
  margin: 0 auto; /* Centraliza o container na página */
  padding: 2%;
  border-radius: 10px;
  background-color: #379080;
}

.estiloCadastro {
  margin-top: 8%;
  margin-bottom: 2.5%;
  align-items: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #379080;
}

.divisao{
    display: flex;
    width: 100%;
}

.inputContainer {
  margin-right: 5%;
  flex-grow: 1;
  flex-direction: column;
}

.sinalizadorDadosInvalidos {
  color: white;
}

.inputContainer1 {
  margin-right: 5%;
  flex: 1;
  flex-direction: column;
}

.inputContainer2 {
  flex: 2;
  margin-right: 5%;
  flex-direction: column;
}

.Nomes {
  margin-bottom: 5px;
  color: white;
}

/* Estilo para inputs padrão */
.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
    margin-bottom: 12px;
  }
  
.input:focus {
  outline: none;
  border-color: #4caf50; /* Cor ao focar */
}

/* Estiliza a placeholder do input */
.input::placeholder {
  color: #000000;
}

/* Adiciona estilo ao hover do input */
.input:hover {
  border-color: #555;
}

/* Adiciona algum estilo ao hover do botão */
.estiloBotao:hover {
  background-color: #4586a0;
}

/* Estilo para o botão Criar Cadastro */
.estiloBotao {
  margin-top: 10%;
  margin-bottom: 5%;
  background-color: #17a4cf;
  color: #fff;
  padding: 6% 20%;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
}

.estiloBotao:active {
    background-color: #128c7e; 
    transform: translateY(2px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.entrada{
    margin-bottom: 4%;
}

@media (max-width: 768px) {
    .divisao {
      flex-direction: column;
    }
  
    .inputContainer,
    .inputContainer1,
    .inputContainer2 {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }